:root {
    --primary-color: #051A05;
    --secondary-color: #d6ae2f;
    --dark: #021902;
    --light: #FFFBEC;
    --intermediate-green: #234222;
    --intermediate-gold: #E1D397;
    
    --title-font: 'Parisienne', cursive;
    --main-font: 'Overpass', sans-serif;

    --main-font-size: 1.2rem;
    --title-font-size: 3rem;

}
body {
    background-image: url(image/white-diamond-dark.png);
}
.main {
    display: grid;
    grid-template-columns: 50% auto;
    margin: 30px;
}
.imagecontact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}
h1 {
    color: var(--secondary-color);
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    margin: 0px;
}
 p {
color: var(--light);
font-family: var(--main-font);
font-size: var(--main-font-size);
font-weight: 200;
padding-bottom:30px ;
}
.contactForm {
color: var(--light);
font-family: var(--main-font);
font-size: var(--main-font-size);
font-weight: 300;
}