              :root {
                  --primary-color: #051A05;
                  --secondary-color: #d6ae2f;
                  --dark: #021902;
                  --light: #FFFBEC;
                  --intermediate-green: #234222;
                  --intermediate-gold: #E1D397;
                  --title-font: 'Parisienne', cursive;
                  --main-font: 'Overpass', sans-serif;
                  --main-font-size: 1.2rem;
                  --title-font-size: 3rem;
              }

              body {
                  background-image: url(image/white-diamond-dark.png);
                  background-color: var(--primary-color);
              }

              .main {
                  display: grid;
                  grid-template-columns: 50% auto;
                  margin-left: 220px;
                  margin-right: 220px;
                  grid-gap: 40px;
                  margin-top: 30px;
                  margin-bottom: 30px;
              }

              .imagecontact {
                  background-image: url(image/lokicontact.png);
                  height: 100%;
                  width: 80%;
                  min-width: 350px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                  margin-left: 20%;
                  margin-right: 1rem;
                  border-radius: 3px;
                  border: 1px solid var(--secondary-color);
                  margin-bottom: 30px;
              }

              .formulaire {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
              }

              h1 {
                  color: var(--secondary-color);
                  font-family: var(--title-font);
                  font-size: var(--title-font-size);
                  margin: 0px;
                  font-weight: 100;
              }

              .line {
                  height: 1px;
                  width: 35vw;
                  background-color: var(--secondary-color);
                  text-shadow: 0.5px 1px 1px var(--dark);
                  margin-bottom: 1.5rem;
              }

              p.contact-text {
                  color: var(--light);
                  font-family: var(--main-font);
                  font-size: var(--main-font-size);
                  font-weight: 200;
                  margin-bottom: 2rem;
                  max-width: 65ch;
              }

              .contactForm {
                  color: var(--intermediate-gold);
                  font-family: var(--main-font);
                  font-size: var(--main-font-size);
                  font-weight: 300;
              }

              input {
                  color: var(--dark);
                  font-family: var(--main-font);
                  font-size: var(--main-font-size);
                  font-weight: 300;
                  background-color: var(--intermediate-gold);
                  margin-bottom: 30px;
                  width: 100%;
                  height: 2.2rem;
                  border-radius: 2px;
                  border: 1px solid var(--intermediate-green);
                  opacity: 80%;
              }

              input::placeholder {
                  color: var(--dark);
                  font-weight: 200;
              }

              .contactForm textarea {
                  width: 100%;
                  height: 5rem;
                  border-radius: 2px;
                  font-family: var(--main-font);
                  font-size: var(--main-font-size);
                  font-weight: 300;
                  background-color: var(--intermediate-gold);
                  border: 1px solid var(--intermediate-green);
                  opacity: 80%;
              }

              .contactForm textarea::placeholder {
                  color: var(--dark);
                  font-weight: 200;
              }     

              .button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: var(--secondary-color);
                  border: 1px solid var(--intermediate-green);
                  color: var(--intermediate-green);
                  font-family: var(--main-font);
                  font-size: var(--main-font-size);
                  font-weight: 300;
                  z-index: 1;
                  position: relative;
                  margin-left: auto;
                  overflow: hidden;
                  transition: color 0.4s ease-in-out;
                  border-radius: 6px;
                  height: 2rem;
                  opacity: 80%;
                  width: 25%;
                  height: 40px;
                
              }

              .button:hover {
                  cursor: pointer;
                  color: var(--dark);
              }
              .button:active {
                  box-shadow: 0px  2px var(--dark) ;
                  transform: translateY(4px);  
              }

              .contactFooter {
                  margin-top: auto;
                  bottom: 0;
              }
              .validation {
                  color: var(--intermediate-gold);
                  text-align: right;

              }

              @media screen and (max-width: 1000px) {
                  .main {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      height: 100%;
                      margin-left: 1rem;
                      margin-right: 1rem;
                      margin-top: auto;

                  }

                  nav ul li a {
                    color: var(--secondary-color);
                    font-size: 1.3rem
                }

                  .line {
                      height: 1px;
                      width: 70vw;
                      background-color: var(--secondary-color);
                      text-shadow: 0.5px 1px 1px var(--dark);
                  }

                  .contactFooter {
                      margin-top: auto;
                      bottom: 0;
                  }

                  .imagecontact {
                      display: none;
                  }

                  input {
                    color: var(--dark);
                    font-family: var(--main-font);
                    font-size: var(--main-font-size);
                    font-weight: 300;
                    background-color: var(--intermediate-gold);
                    margin-bottom: 30px;
                    width: 100%;
                    height: 2.2rem;
                    border-radius: 2px;
                    border: 1px solid var(--intermediate-green);
                    opacity: 80%;
                }

                  input::placeholder {
                      color: var(--dark);
                      font-weight: 200;
                  }

                  .contactForm textarea {
                    width: 100%;
                    height: 5rem;
                    border-radius: 2px;
                    font-family: var(--main-font);
                    font-size: var(--main-font-size);
                    font-weight: 300;
                    background-color: var(--intermediate-gold);
                    border: 1px solid var(--intermediate-green);
                    opacity: 80%;
                }
  

                  .contactForm textarea::placeholder {
                      color: var(--dark);
                      font-weight: 200;
                  }


                  .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--secondary-color);
                    border: 1px solid var(--intermediate-green);
                    color: var(--intermediate-green);
                    font-family: var(--main-font);
                    font-size: var(--main-font-size);
                    font-weight: 300;
                    z-index: 1;
                    position: relative;
                    margin-left: auto;
                    overflow: hidden;
                    transition: color 0.4s ease-in-out;
                    border-radius: 6px;
                    height: 2rem;
                    opacity: 80%;
                    width: 25%;
                    height: 40px;
                  
                }


                  .button:hover {
                      cursor: pointer;
                      color: var(--dark);
                  }

                  .formulaire {
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      margin: 0;
                  }

              }