              :root {
                 --primary-color: #051A05;
                 --secondary-color: #d6ae2f;
                 --dark: #021902;
                 --light: #FFFBEC;
                 --intermediate-green: #234222;
                 --intermediate-gold: #E1D397;
                 --title-font: 'Parisienne', cursive;
                 --main-font: 'Overpass', sans-serif;
                 --main-font-size: 1.2rem;
                 --title-font-size: 3rem;
             }
             
             body {
                 background-image: url(image/white-diamond-dark.png);
                 background-color: var(--primary-color);
             }
             
             .main {
                 display: grid;
                 grid-template-columns: 50% auto;
                 margin-left: 220px;
                 margin-right: 220px;
                 grid-gap: 40px;
                 margin-top: auto;
             }
             
             .imagecontact {
                 background-image: url(image/lokicontact.png);
                 height: 100%;
                 width: 80%;
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
                 margin-left: 20%;
                 border-radius: 3px;
             }
             
             .formulaire {
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
             }
             
             h1 {
                 color: var(--secondary-color);
                 font-family: var(--title-font);
                 font-size: var(--title-font-size);
                 margin: 0px;
                 font-weight: 100;
             }
             .line {
                height: 1px;
                width: 35vw;
                background-color: var(--secondary-color);
                text-shadow: 0.5px 1px 1px var(--dark);
                margin-bottom: 1.5rem;
            }
             
             p {
                 color: var(--light);
                 font-family: var(--main-font);
                 font-size: var(--main-font-size);
                 font-weight: 200;
                 margin-bottom: 2rem;
             }
             
             .contactForm {
                 color: var(--intermediate-gold);
                 font-family: var(--main-font);
                 font-size: var(--main-font-size);
                 font-weight: 300;
             }
             
             input {
                 color: var(--dark);
                 font-family: var(--main-font);
                 font-size: var(--main-font-size);
                 font-weight: 300;
                 background-color: var(--intermediate-gold);
                 margin-bottom: 30px;
                 width: 75%;
                 height: 2.2rem;
                 border-radius: 2px;
                 border: 1px solid var(--intermediate-green);
                 opacity: 80%;
             }
             
             input::placeholder {
                 color: var(--dark);
                 font-weight: 200;
             }
             
             .contactForm textarea {
                 width: 75%;
                 height: 5rem;
                 border-radius: 2px;
                 font-family: var(--main-font);
                 font-size: var(--main-font-size);
                 font-weight: 300;
                 background-color: var(--intermediate-gold);
                 border: 1px solid var(--intermediate-green);
                 color: var(--dark);
                 opacity: 80%;
             }
             
             .contactForm textarea::placeholder {
                 color: var(--dark);
                 font-weight: 200;
             }
             
             .button {
                 z-index: 1;
                 position: relative;
                 overflow: hidden;
                 transition: color 0.4s ease-in-out;
                 width: 15%;
                 border-radius: 6px;
                 color: var(--dark);
             }
             
             .button:hover {
                 cursor: pointer;
                 color: var(--secondary-color);
             }
             .contactFooter {
                margin-top: auto;
                bottom: 0;
            }
             @media screen and (max-width: 1200px) {
                .main {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    margin-top: auto;

                }
                .line {
                    height: 1px;
                    width: 90vw;
                    background-color: var(--secondary-color);
                    text-shadow: 0.5px 1px 1px var(--dark);
                }
                .contactFooter {
                    margin-top: auto;
                    bottom: 0;
                }
                .imagecontact {
                    display: none;
                }
                input {
                    color: var(--dark);
                    font-family: var(--main-font);
                    font-size: var(--main-font-size);
                    font-weight: 300;
                    background-color: var(--intermediate-gold);
                    margin-bottom: 30px;
                    width: 75%;
                    height: 2.2rem;
                    border-radius: 2px;
                    border: 1px solid var(--intermediate-green);
                    opacity: 80%;
                }
                
                input::placeholder {
                    color: var(--dark);
                    font-weight: 200;
                }
                
                .contactForm textarea {
                    width: 75%;
                    height: 5rem;
                    border-radius: 2px;
                    font-family: var(--main-font);
                    font-size: var(--main-font-size);
                    font-weight: 300;
                    background-color: var(--intermediate-gold);
                    border: 1px solid var(--intermediate-green);
                    color: var(--dark);
                    opacity: 80%;
                }
                
                .contactForm textarea::placeholder {
                    color: var(--dark);
                    font-weight: 200;
                }
                
                .button {
                    z-index: 1;
                    position: relative;
                    overflow: hidden;
                    transition: color 0.4s ease-in-out;
                    width: 20%;
                    border-radius: 6px;
                    color: var(--dark);
                }
                
                .button:hover {
                    cursor: pointer;
                    color: var(--secondary-color);
                }
                .formulaire {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 0;
                }
                
            }  