* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 60% 20% 15%;
    grid-template-rows: 60% 40%;
    min-height: 20rem;
    margin: 0;
    width: 100%;
    height: 400px;
    background-color: var(--secondary-color);
}

header div{
    margin-right: 10%;
    height: 8rem;
    width: 32rem;
    grid-row: 1 / 2;
    grid-column-start: 1 / 4;
    margin-left: 10%
}

header span {
    margin-top : 2vh;
    margin-left : 2vw;
    max-width: 800px;
}

header h1 {
    grid-column: 1 / 4;
    font-family : 'Prata', serif;
    font-size : clamp(1rem, 2.5rem, 3.5rem);
    color: var(--dark);
    text-shadow: 1px 1px 1px var(--light);
    line-height: 2;

}

.titlePart2 {
    margin-left: clamp(5vw, 10vw, 15vw);
}

div.quoteSpace {
    height: 13vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    opacity: 90%;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    margin-left: 5vw;
    border-radius: 2px;
    box-shadow: 12px 12px 0 0 var(--intermediate-green); 
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    border: solid 2px var(--intermediate-gold);      
}

.quoteSpace span {
    color: var(--intermediate-green);
    margin: 0;
    width: 40vw;
    max-height: 5rem;
    font-size: 1.2rem;
}
span.italic {
    font-style: italic;
    padding-left: 23vw;
}

.quoteSpace:hover {
    opacity: 100%;
}

div.headerImg {
    background-image: url(image/Loki-headerleft.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    margin: 0;
}

section#about-me {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;   
    height: 70vh;
    width: 90%;
    margin-left: 5%;
    gap: 2rem;
    padding-top: 3rem;
}

.aboutmeImg {
    grid-column: 1 / 2;
    background-image: url(image/loki-1.jpg);
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 80%;
    border-radius: 2px;
    margin-left: 20%;
}
.about-me h2 {
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    color: var(--secondary-color);
    font-weight: 100;
    margin: 0;
    text-shadow: 0.5px 1px 1px var(--dark); 
}

.about-me h3 {
    font-size: calc(var(--main-font-size) + 0.3rem);
    font-family: var(--main-font);
    color: var(--intermediate-gold);
    font-weight: 150;
    text-shadow: 0.5px 1px 1px var(--dark);
}

section#about-me p {
    font-family: var(--main-font);
    max-width: 45ch;
    font-size: var(--main-font-size);
    font-weight: 200;
}

div.background {
    background-image: url(image/white-diamond-dark.png);
    background-color: var(--primary-color);
} 

.line {
    height: 1.5px;
    width: 40vw;
    background-color: var(--secondary-color);
    text-shadow: 0.5px 1px 1px var(--dark);
}