* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 3% 67% 30%;
    grid-template-rows: 40% 20% 40%;
    min-height: 25rem;
    margin: 0;
    width: 100%;
    height: 50vh;
    background-color: var(--secondary-color);
}

header div{
    margin-right: 10%;
    height: 8rem;
    width: 32rem;
    grid-row: 3 / 5;
    grid-column-start: 2;
    gap: 5%;
    margin-left: 10%
}

header span {
    grid-column: 2 / 3;
    margin-top : 2%;
    margin-left : 2%;
    max-width: 800px;
}

.titlePart2 {
    margin-left: 12vw;
}
header h1 {
    height : calc(var(--title-font-size) * 2);
    font-family : var(--main-font);
    font-size : var(--title-font-size);
    color: var(--dark);
    text-shadow: 2px 0px 1px var(--light);
}

div.quoteSpace {
    margin-right: 20%;
    height: 8rem;
    width: 55vw;
    background-color: var(--primary-color);
    opacity: 0.8;
    grid-row: 3 / 5;
    grid-column-start: 2;
    gap: 5%;
    margin-left: 5%;
    border-radius: 5px;
    box-shadow: 0.5px 1px 1px var(--dark);;
    margin-top: 0.5rem;
}

.quoteSpace p {
    margin-left: 5%;
    margin-top: 3%;
    margin-left: 5%;
    font-size: calc(var(--main-font-size) + 0.1rem);
}

div.headerImg {
    background-image: url(image/Loki-headerleft.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    margin: 0;
}

section#about-me {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;   
    height: 70vh;
    width: 90%;
    margin-left: 5%;
    gap: 2rem;
    padding-top: 3rem;
}

.aboutmeImg {
    grid-column: 1 / 2;
    background-image: url(image/lokiaboutme.png);
    background-size: cover;
    width: 70%;
    height: 100%;
    border-radius: 4px;
    margin-left: 20%;
}
.about-me h2 {
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    color: var(--secondary-color);
    font-weight: 100;
    margin: 0;
    text-shadow: 0.5px 1px 1px var(--dark); 
}

.about-me h3 {
    font-size: calc(var(--main-font-size) + 0.3rem);
    font-family: var(--main-font);
    color: var(--intermediate-gold);
    font-weight: 150;
    text-shadow: 0.5px 1px 1px var(--dark);
}

section#about-me p {
    max-width: 45ch;
    font-size: var(--main-font-size);
    font-weight: 200;
}

div.background {
    background-image: url(image/white-diamond-dark.png);
    background-color: var(--primary-color);
} 

.line {
    height: 0.1vh;
    width: 40vw;
    background-color: var(--secondary-color);
    text-shadow: 0.5px 1px 1px var(--dark);
}