:root {
    --primary-color: #0b450a;
    --secondary-color: #d6ae2f;
    --dark: #051A05;
    --light: #FFF7DE;
    --title-font: 'Parisienne', cursive;
    --main-font: 'Prata', serif;
}

body {
    color: var(--light);
    font-family: var(--main-font);
    background-color: var(--dark);
}
nav {
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 2rem 2fr 1fr;
    grid-template-rows: 10rem 10rem 10rem;
    min-height: 25rem; 
    margin: 0;
    width: auto;
    background-color: var(--secondary-color);
}

h1 {
    font-family: var(--title-font);
}

header h1 {
    height : calc(2,5em * 2);
    font-family : var(--main-font);
    font-size : 2.5rem;
}

.h1pt1{
    grid-column: 1 / 4;
    margin-top : 10%;
    margin-left : 2%;
}
.h1pt2 {
    grid-column: 1 / 4;
    margin-top : 0%;
    margin-left : 13%;
}

header div{
    margin-right: 10%;
    height: 8rem;
    width: 32rem;
    background-color: var(--dark);
    grid-row: 3 / 5;
    grid-column-start: 2;
    gap: 5%;
    margin-left: 10%;
    border-radius: 5px;
}

.quoteSpace p {
    margin-left: 5%;
    margin-top: 5%;
}
