:root {
    --primary-color: #0b450a;
    --secondary-color: #d6ae2f;
    --dark: #051A05;
    --light: #FFF7DE;
    --title-font: 'Parisienne', cursive;
    --main-font: 'Prata', serif;
}
body { 
    margin : 0px;
    color: var(--light);
    font-family: var(--main-font);
    background-color: var(--dark);
    width: 100%;
}

nav {
    background-color: var(--primary-color);   
    display : flex; 
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

nav div {
    display: flex;
    margin-top: 0.5rem;
}

nav img {
    margin-left: 0.5rem ;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
    padding-top: 2px;
}

nav h1 { 
    color: var(--secondary-color);
    font-family: var(--title-font);
    font-weight: 100;
    margin: 0px; 
    font-size: 2rem;   
    display:flex ;
    justify-content: flex-start;

}

nav ul {
    display: flex; 
    padding-right: 1rem;
    font-family: var(--main-font);
    color: var(--light);
    
    justify-content: center;
}

nav ul li {
list-style: none;
padding-right: 2.5rem;
font-family: var(--main-font);
font-size: 1.3rem;
}
nav ul li a {
    color: var(--light);
    text-decoration: none;
    font-family: var(--main-font);
  }